<h1>Listing ministerios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ministerios.each do |ministerio| %>
  <tr>
    <td><%= ministerio.nome %></td>
    <td><%= link_to 'Show', ministerio %></td>
    <td><%= link_to 'Edit', edit_ministerio_path(ministerio) %></td>
    <td><%= link_to 'Destroy', ministerio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ministerio', new_ministerio_path %>
