  <header>
    <section class="container">

      <a id="logo" href=".">
        <h1>A voz do povo</h1>
        <h2>Dá voz à tua voz</h2>
      </a>

      <% form_for :ouve, @Ouve,  :html => {:id => "signup", :class => "clearfix"} do |f| %>

          <label for="title">Eu acho que</label>
          <%= f.text_field :titulo, :id => "title", :placeholder => "coiso" %>

          <div id="submit" class="clearfix">
              <span>Faz-te ouvir!</span>
              <%= image_tag("submit_button_icon.png", :alt => "Submete a cena, moço") %>
          </div>

          <div id="formHidden" class="clearfix">

            <%= f.label :ideia, "Mais detalhadamente, "%>
            <%= f.text_area :ideia %>

            <%= f.collection_select( :municipio_id , Municipio.all, :id, :nome, {:include_blank => true}) %>

            <%= f.collection_select( :ministerio_id, Ministerio.all, :id, :nome, {:include_blank => true}) %>

            <div class="clearfix"></div>

            <%= link_to "Liga-te através do Facetruques", "/auth/facebook", :id => "facebookConnect" %>

          </div>      

      <% end %>

    </section>

  </header>

  <section id="content" class="container">

    <a id="back" href="">« Voltar</a>

    <div class="wrapper clearfix">

      <aside class="clearfix">

          <section id="ministerio">

              <div id="ministerioHead" class="clearfix">
                  <h3>Saúde</h3>
                  <%= image_tag("ministerio_arrow.png", :alt => "Muda o ministério, moço") %>
              </div>

              <ul>
                  <li>Ministério I</li>
                  <span class="separator"></span>
                  <li>Ministério I</li>
                  <span class="separator"></span>
                  <li>Ministério I</li>
                  <span class="separator"></span>
                  <li>Ministério I</li>
                  <span class="separator"></span>
                  <li>Ministério I</li>
                  <span class="separator"></span>
                  <li>Ministério I</li>
                  <span class="separator"></span>
                  <li>Ministério I</li>
                  <span class="separator"></span>
                  <li>Ministério I</li>
              </ul>

          </section>

          <section id="map">
            <% @count = 0 %>
            <% @nums.each do |n| %>
              <span class="pos" style="left: <%= n[0] %>px; top: <%= n[1] %>px" id="<%= @ouves[@count].id %>">
                <%= @count %>
              </span>

              <% @count = @count + 1%>
            <% end %>
          </section>

      </aside>

      <section id="ouves">

        <% @ouves.each do |o| %>

          <a class="ouve clearfix" id="<%= o.id %>" href="./ouves/<%= o.id %>">

              <%= image_tag("helio.png", :class => "photo") %>

              <div class="info">
                  <h3><%= o.titulo %></h3>

                  <div class="tags">
                      <span>medo</span>
                      <span>não</span>
                      <span>assiste</span>
                  </div>
              </div>

              <div class="social">
                  <div class="socialItem">
                      <span>3</span>
                      <%= image_tag("comments.png", :alt => "Comentários") %>
                  </div>

                  <div class="socialItem">
                      <span>3</span>
                      <%= image_tag("like.png", :alt => "Fixes") %>
                  </div>

              </div>
              
          </a>

          <% if o != @ouves.last %>
            <span class="separator"></span>
          <% end %>

        <% end %>

      </section>

      <section id="ouve">

          <%= image_tag("hipsterfail.jpg", :class => "photo") %>

          <div class="info clearfix">
              <h3>coiso</h3>

              <div class="tags">
                  <span>medo</span>
                  <span>não</span>
                  <span>assiste</span>
              </div>
          </div>

          <div class="social">
              <div class="socialItem">
                  <span>3</span>
                  <%= image_tag("comments.png", :alt => "Comentários") %>
              </div>

              <div class="socialItem">
                  <span>3</span>
                  <%= image_tag("like.png", :alt => "Fixes") %>
              </div>

          </div>

          <div class="clearfix"></div>

          <p class="description">
            Cow rump chicken, tri-tip shank fatback meatball chuck meatloaf tenderloin turkey pork belly spare ribs biltong. Flank pig chicken shankle, beef meatball beef ribs short loin jowl tail. Hamburger ground round meatball fatback bresaola. Brisket ball tip short ribs shankle jerky rump ham hock. Jowl meatloaf jerky pastrami. Sausage bresaola hamburger beef, meatball corned beef ham drumstick pork belly ground round short ribs biltong bacon spare ribs meatloaf. Corned beef fatback tail cow, pig chicken bacon pancetta beef ribeye strip steak meatloaf. 
          </p> 

          <article class="discussion">
            <h3>Discussion</h3>

            <article class="comment clearfix"> 
              <%= image_tag("helio.png", :class => "photo") %>

              <div class="text">
                <p>Ganda comentário, oh moço</p>
                <span>às 9.30 de Domingo</span>
              </div>
            </article>

    
            <article class="comment clearfix"> 
              <%= image_tag("helio.png", :class => "photo") %>

              <div class="text">
                <p>Ganda comentário, oh moço</p>
                <span>às 9.30 de Domingo</span>
              </div>
            </article>

          </article>

        
      </section>

    </div>

  </section>

  <footer class="container">
  <p id="by">Este protótipo foi realizado no <a href="http://hackathon.afuradavalley.com" target="_blank">Geekslab Hackathon</a> pelo <a href="http://twitter.com/#!/jnfbatista" target="_blank">João Batista</a> <span>(desenvolvimento)</span>, <a href="http://twitter.com/#!/JLMpt" target="_blank">João Lopes Martins</a> <span>(conceito)</span> e pelo <a href="http://twitter.com/#!/ricardogo" target="_blank">Ricardo Gonçalves</a> <span>(design)</span>.
  </footer>
