<%= form_for(@ouve) do |f| %>
  <% if @ouve.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ouve.errors.count, "error") %> prohibited this ouve from being saved:</h2>

      <ul>
      <% @ouve.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :ideia %><br />
    <%= f.text_area :ideia %>
  </div>
  <div class="field">
    <%= f.label :municipio %><br />
    <%= f.collection_select( :municipio_id , Municipio.all, :id, :nome, {:include_blank => true}) %>
  </div>
  <div class="field">
    <%= f.label :ministerio %><br />
    <%= f.collection_select( :ministerio_id, Ministerio.all, :id, :nome, {:include_blank => true}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
